<!-- <p>login works!</p> -->
<!-- Send Data : <input type="text" #LComponent (keyup)="senddata(LComponent.value)"/> -->
<!-- Value : {{PData}} -->

<div class="login-container">
    <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" #username required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" #password required>
        </div>
        <button (click)="login(username.value,password.value)">Login</button>
</div>